// to work, this file needs to have these variables defined before it's imported
//   @color-page, @color-buttons, @color-links
//   @themed-button-label, @themed-link-label
//   @themed-alert-color, @themed-warning-color, @themed-success-color, @themed-notice-color
//   @color-page-luma, @color-buttons-luma, @color-links-luma, @color-alert-luma

// These thresholds are calculated for specific light and dark text colors and should be recalculated
// if the colors change. At these thresholds we recognize background color as dark or light.
// see: https://github.com/Wikia/unified-platform/blob/728d64c6e6a66485da4e1fa0ae0a4e6bdfe85cf1/extensions/fandom/FandomIncludes/src/Util/SassUtil.php#L557
// see: https://wikia-inc.atlassian.net/wiki/spaces/XW/pages/1175420933/Theming+colors+in+UCP

// Standard luma threshold - for white (#ffffff) and dark (#000000) foreground color
@luma-threshold--standard: 17.91%;

// Luma threshold for color-page (as background color) and for text-color--light (#e6e6e6) and text-color--dark (#3a3a3a)
@luma-threshold--page: 22.86%;

// Luma threshold for very light background colors
@luma-threshold--page--very-light: 90%;

// Luma threshold for color-buttons (as background color) and for button-label--light (#ffffff) and button-label--dark (#0e191a)
@luma-threshold--buttons: 19.8%;

// Base colors
@themed-page-background: @color-page;
@themed-button-background: @color-buttons;
@themed-link-color: @color-links;

// Special colors variations
@themed-alert-color--fadeout: fadeout(@themed-alert-color, 85%);
@themed-alert-color--hover: if(
	@color-alert-luma < @luma-threshold--standard,
	lighten(@themed-alert-color, 20%),
	darken(@themed-alert-color, 20%)
);

// Boolean variables
@is-dark-theme: boolean(@color-page-luma < @luma-threshold--page);
@is-very-light-theme: boolean(@color-page-luma > @luma-threshold--page--very-light);
@is-dark-button: boolean(@color-buttons-luma < @luma-threshold--buttons);
@is-dark-link: boolean(@color-links-luma < @luma-threshold--standard);

@white: #fff;
@black: #000;
@text-color--light: #e6e6e6;
@text-color--dark: #3a3a3a;
@button-label--light: @white;
@button-label--dark: @wds-fandom-color-black;

// Background colors
@themed-page-background--secondary: if(
	@is-dark-theme,
	mix(@themed-page-background, @white, 85%),
	mix(@themed-page-background, @black, 95%)
);
@themed-page-background--windows: if(@is-very-light-theme, @white, @themed-page-background--secondary);

// Text colors
@themed-text-color: if(@is-dark-theme, @text-color--light, @text-color--dark);
@themed-text-color--hover: if(@is-dark-theme, darken(@themed-text-color, 20%), lighten(@themed-text-color, 20%));
@themed-text-color--secondary: fadeout(@themed-text-color, 40%);

// Link colors
@themed-link-color--hover: if(@is-dark-link, lighten(@themed-link-color, 20%), darken(@themed-link-color, 20%));
@themed-link-color--fadeout: fadeout(@themed-link-color, 85%);
@themed-link-color--active: if(
	lightness(@themed-link-color) < 50%,
	lighten(@themed-link-color--fadeout, 20%),
	darken(@themed-link-color--fadeout, 20%)
);

// Button colors
@themed-button-background--hover: if(
	@is-dark-button,
	lighten(@themed-button-background, 20%),
	darken(@themed-button-background, 20%)
);

// Border colors
@themed-border-color: if(
	@is-dark-theme,
	mix(@themed-page-background, @white, 50%),
	mix(@themed-page-background, @black, 75%)
);

// Other colors
@themed-overlay-color: if(@is-dark-theme, rgba(@white, 0.5), rgba(@black, 0.5));
@themed-window-box-shadow: 0 3px 12px 0 rgba(@black, 0.3);

// Toolbar colors
@toolbar-text-color: if(@is-dark-theme, @white, @wds-fandom-color-black);
@toolbar-separator-color: mix(@themed-page-background, if(@is-dark-theme, @white, @black), 50%);
