.theming-layouts() {
	.oo-ui-panelLayout {
		&-framed {
			border-color: var(--theme-border-color);
		}
	}

	// B/C for legacy FieldLayout notices
	.oo-ui-fieldLayout-messages {
		&-alert {
			color: var(--theme-alert-color);
		}

		&-warning {
			color: var(--theme-warning-color);
		}

		&-success {
			color: var(--theme-success-color);
		}

		&-notice {
			color: var(--theme-message-color);
		}
	}

	.oo-ui-bookletLayout {
		> .oo-ui-menuLayout-menu {
			border-right-color: var(--theme-border-color);
		}
	}
}
