@import 'wds-variables/index';

@opacity--disabled: 0.5;

// Sizes
@size-input-binary: 16px;
@size-base: 34px;
@size-anchor: 7px;
@max-width-base: 50em;
@max-width-input: @max-width-base;
@combo-button-width: 37px;
@gap-base: @wds-button-horizontal-gap;

@height-search: 56px;
@height-tagitem: 22px;
@height-tabselect: 40px;

// Dialog
@size-dialog-bar--desktop: 52px;
@size-dialog-bar--mobile: @size-dialog-bar--desktop;
@size-dialog-message-bar: 40px;

// Margins & paddings
@margin-search: 12px;
@margin-taboption: 6px;
@margin-top-form-fieldset: 24px;
@margin-top-fieldlayout--labelled: 12px;
@margin-top-message: 8px;
@margin-top-popup: 9px;
@margin-bottom-fieldset-header: 8px;
@margin-end-fieldlayout-help: -8px;
@margin-end-widget: 8px;

@padding-vertical-label: 4px;
@padding-start-fieldlayout-label: 6px;
@padding-start-input-text-icon-label: 37px;
@padding-end-dropdown: 30px;

// Inputs
@input-horizontal-padding: 8px;

// Toolbars
@tool-vertical-padding: 6px;
@tool-horizontal-padding: 10px;
@tool-horizontal-gap: 4px;

// Variables required to comile base OOUI styles
@transition-dialog: ease-out @wds-button-transition-duration;
@size-dialog-menu: 200px;
@size-icon: @wds-icon-small-size;
@min-size-icon: @wds-icon-small-size;
@size-indicator: @wds-icon-tiny-size;
@min-size-indicator: @wds-icon-tiny-size;
