@import 'common.less';
@import 'mixins/flex-button';

.theme-oo-ui-toolbar() {
	&-bar {
		background-color: var(--theme-article-background-color--secondary);
		border: 1px solid var(--theme-border-color);
		border-radius: @wds-rounded-corner-radius;
		color: var(--theme-article-text-color);
		padding: 13px;

		.oo-ui-toolbar-actions & {
			padding: 0;
		}

		.oo-ui-toolbar-bar {
			background-color: transparent;
			border: 0;
		}
	}

	&-tools {
		display: inline-block;
	}
}

.theme-oo-ui-tool() {
	.flex-button(~'.oo-ui-tool-link', @tool-vertical-padding, @tool-horizontal-padding, @tool-horizontal-gap);

	.oo-ui-tool-link {
		border-radius: @wds-rounded-corner-radius;

		.oo-ui-transition(background-color @wds-button-transition-duration, border-color @wds-button-transition-duration, color @wds-button-transition-duration);

		&:hover,
		&:focus {
			background-color: var(--theme-link-color--fadeout);
		}

		&:active,
		&:active:hover {
			// active
			background-color: var(--theme-link-color--fadeout);
			color: var(--theme-link-color);
		}
	}

	&.oo-ui-widget-enabled {
		&.oo-ui-flaggedElement {
			&-progressive {
				.oo-ui-tool-link {
					border: 1px solid currentColor;
					color: var(--theme-link-color);

					&:hover,
					&:active,
					&:focus {
						background-color: transparent;
						color: var(--theme-link-color--hover);
					}
				}

				&.oo-ui-flaggedElement-primary {
					.oo-ui-tool-link {
						background-color: var(--theme-accent-color);
						border-color: var(--theme-accent-color);
						color: var(--theme-accent-label-color);

						&:hover,
						&:active,
						&:focus {
							background-color: var(--theme-accent-color--hover);
							border-color: var(--theme-accent-color--hover);
						}
					}
				}
			}

			&-destructive {
				.oo-ui-tool-link {
					border: 1px solid currentColor;
					color: var(--theme-alert-color);

					&:hover,
					&:active,
					&:focus {
						background-color: transparent;
						color: var(--theme-alert-color--hover);
					}
				}

				&.oo-ui-flaggedElement-primary {
					.oo-ui-tool-link {
						background-color: @wds-color-alert;
						border-color: @wds-color-alert;
						color: @wds-color-white;

						&:hover,
						&:active,
						&:focus {
							@hover-color: darken(@wds-color-alert, 20%);

							background-color: @hover-color;
							border-color: @hover-color;
						}
					}
				}
			}
		}

		&.oo-ui-tool-active .oo-ui-tool-link {
			// active
			background-color: var(--theme-link-color--fadeout);
			color: var(--theme-link-color);
		}
	}

	&.oo-ui-widget-disabled {
		opacity: @opacity--disabled;
		pointer-events: none;
	}
}

.theme-oo-ui-popupTool() {
}

.theme-oo-ui-toolGroupTool() {
	> .oo-ui-toolGroup {
		border-right: 0;
	}
}

.theme-oo-ui-toolGroup() {
	padding: 0 6px;

	&:first-child {
		padding-left: 0;
	}

	&:not(:last-child) {
		border-right: solid 1px var(--theme-article-text-mix-50);
	}

	.oo-ui-toolGroup {
		padding: 0;
	}

	.oo-ui-toolbar-actions & {
		border-left-color: var(--theme-article-text-mix-50);
		border-right: 0;
		padding: 0 1px;

		&.oo-ui-barToolGroup {
			border-right: 0;
		}
	}
}

.theme-oo-ui-barToolGroup() {
	&-tools > .oo-ui-tool {
		> .oo-ui-tool-link {
			display: inline-flex;
		}
	}
}

.theme-oo-ui-listToolGroup() {
	&-tools .oo-ui-tool {
		&.oo-ui-widget-enabled {
			&:hover .oo-ui-tool-link {
				background-color: var(--theme-link-color--fadeout);
				color: var(--theme-link-color);
			}

			&.oo-ui-tool-active .oo-ui-tool-link {
				// active
				background-color: var(--theme-link-color--fadeout);
				color: var(--theme-link-color);
			}
		}
	}
}

.theme-oo-ui-menuToolGroup() {
}

.theme-oo-ui-popupToolGroup() {
	.flex-button(~'.oo-ui-popupToolGroup-handle', @tool-vertical-padding, @tool-horizontal-padding, @tool-horizontal-gap);

	.oo-ui-popupToolGroup-handle {
		border-radius: @wds-rounded-corner-radius;

		> .oo-ui-indicatorElement-indicator {
			.oo-ui-transition(transform @wds-button-transition-duration);
		}
	}

	&-header {
		color: var(--theme-article-text-color--secondary);
		font-weight: @wds-font-weight-bold;
	}

	&-tools {
		background-color: var(--theme-article-background-color--secondary);
		border: 1px solid var(--theme-border-color);
		border-radius: @wds-rounded-corner-radius;
		box-shadow: var(--theme-box-shadow);
		min-width: 16em;

		&.oo-ui-popupToolGroup-active-tools {
			padding: 7px 0;
		}

		> .oo-ui-tool {
			margin: 0 9px;
		}

		.oo-ui-tool-link {
			border-radius: 0;
			display: flex;
			font-size: @wds-font-size-s;
			font-weight: @wds-font-weight-normal;
			justify-content: space-between;
			line-height: @wds-line-height-none;
			padding: 9px 7px;
			text-transform: none;
			width: auto;

			.oo-ui-tool-accel {
				align-self: end;
				display: initial;
				flex-grow: 1;
				font-size: @wds-font-size-xxs;
				line-height: @wds-line-height-normal;

				&:not(:empty) {
					// Push away from tool's title
					padding-left: 18px;
				}
			}
		}
	}

	&.oo-ui-widget-enabled {
		> .oo-ui-popupToolGroup-handle {
			.oo-ui-transition(background-color @wds-button-transition-duration, color @wds-button-transition-duration);

			&:hover,
			&:focus {
				background-color: var(--theme-link-color--fadeout);
			}
		}
	}

	&.oo-ui-widget-disabled {
		opacity: @opacity--disabled;
		pointer-events: none;
	}

	&-tools .oo-ui-tool.oo-ui-widget-enabled .oo-ui-tool-link:focus {
		outline: 0;
	}

	&-active > .oo-ui-popupToolGroup-handle {
		&,
		&:hover {
			// active
			background-color: var(--theme-link-color--fadeout);
			color: var(--theme-link-color);
		}

		> .oo-ui-indicator-down {
			transform: rotate(180deg);
		}
	}
}
