body.oo-ui-theme-fandom {
  background-color: var(--theme-article-background-color);
  color: var(--theme-article-page-color);
  font-family: Rubik, Helvetica, Arial, sans-serif;
  font-size: 14px;
}
body.oo-ui-theme-fandom .demo-header {
  background-color: var(--theme-article-background-color);
}
body.oo-ui-theme-fandom .demo-container.oo-ui-panelLayout {
  border-color: var(--theme-border-color);
}
body.oo-ui-theme-fandom .oo-ui-formLayout .oo-ui-fieldsetLayout:last-child {
  background-color: var(--theme-article-background-color--secondary);
  border-color: var(--theme-border-color);
  border-radius: 3px;
}
body.oo-ui-theme-fandom h1,
body.oo-ui-theme-fandom h2,
body.oo-ui-theme-fandom h2 span {
  color: inherit;
}
body.oo-ui-theme-fandom .demo-theming section {
  background-color: var(--theme-article-background-color--secondary);
  border-radius: 3px;
  margin: 20px 0;
  padding: 20px;
}
body.oo-ui-theme-fandom .demo-theming .theming-header {
  border-bottom: 1px solid var(--theme-border-color);
  font-size: 18px;
  margin-bottom: 20px;
  padding-bottom: 6px;
  text-align: left;
  width: 100%;
}
body.oo-ui-theme-fandom .demo-theming .theming-header small {
  font-size: 14px;
  font-weight: 400;
}
body.oo-ui-theme-fandom .demo-theming .variable-name {
  background-color: var(--theme-article-background-color);
  border: 1px solid var(--theme-border-color);
  border-radius: 3px;
  display: inline-block;
  font-weight: 700;
  margin-bottom: 4px;
  padding: 1px 4px;
  white-space: nowrap;
}
body.oo-ui-theme-fandom .demo-theming .color-box {
  align-items: start;
  display: grid;
  grid-column-gap: 12px;
  grid-template-columns: 60px 1fr auto;
  margin-bottom: 20px;
}
body.oo-ui-theme-fandom .demo-theming .color-box:last-child {
  margin-bottom: 0;
}
body.oo-ui-theme-fandom .demo-theming .color-box::before {
  border: 1px solid var(--theme-border-color);
  border-radius: 3px;
  content: '';
  display: block;
  filter: drop-shadow(0 0 3px rgba(var(--theme-article-text-color), 0.15));
  height: 60px;
  width: 60px;
}
body.oo-ui-theme-fandom .demo-theming .color-box small {
  color: rgba(var(--theme-article-text-color--rgb), 0.6);
  display: block;
  font-size: 12px;
}
body.oo-ui-theme-fandom .demo-theming .color-box .color-usage {
  background-color: var(--theme-article-background-color);
  border: 1px solid var(--theme-border-color);
  border-radius: 3px;
  font-size: 12px;
  padding: 8px 12px;
  text-align: left;
  width: 300px;
}
body.oo-ui-theme-fandom .demo-theming .color-box .color-usage h3 {
  font-size: 14px;
  margin: 0 0 4px;
}
body.oo-ui-theme-fandom .demo-theming .color-box .color-usage ul {
  margin: 0;
  padding-left: 12px;
}
body.oo-ui-theme-fandom .demo-theming .base-colors {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: repeat(3, auto);
}
body.oo-ui-theme-fandom .demo-theming .base-colors .theming-header {
  grid-column: 1 / -1;
}
body.oo-ui-theme-fandom .demo-theming .base-colors .color-box {
  margin-bottom: 0;
}
body.oo-ui-theme-fandom .demo-theming .boolean-variables .color-box {
  grid-template-columns: 1fr;
}
body.oo-ui-theme-fandom .demo-theming .boolean-variables .color-box::before {
  display: none;
}
body.oo-ui-theme-fandom .demo-theming .other-colors .themed-window-box-shadow::before {
  box-shadow: var(--theme-box-shadow);
}
